<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/decisao_transporte.css" />
    <title>Document</title>
</head>
<style>
    .input_idade {
        width: 5rem;
        text-align: center;
    }

    .sub_accordion_gest {

        display: flex !important;
        width: 100% !important;
        border: none !important;
        align-items: center !important;
        justify-content: space-between !important;
        background-color: #E1E1E1 !important;
        padding: 10px !important;
        color: #333333 !important;
        text-decoration: none !important;
        margin: 0 !important;
        font-weight: 600 !important;


    }

    .painel2 {

        display: flex;
        flex-direction: column !important;
        gap: 10px;
        padding: 0 15px 20px 22px;
        background-color: #F1F1F1;
        display: none;
        overflow: hidden;
        transition: 0.4s !important;

    }

    

    .icon_active {
        transform: rotate(45deg);
        /* Ajuste o ângulo de rotação desejado */
        transition: transform 0.3s ease;
        /* Adicione uma transição suave */
    }

    .icon {
        transition: 0.4s;
    }

    .rotating {
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>

<body>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">PERÍODO DA GESTAÇÃO:</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">FEZ PRÉ-NATAL?</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> SIM </p>
                <input type="radio" name="radio_pre_natal" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text"> NÃO </p>
                <input type="radio" name="radio_pre_natal" />
            </div>

        </label>
    </div>

    <button type="button" class="sub_accordion_gest">
        <p class="checkbox_text">É O PRIMEIRO FILHO?</p>
        <img src="./images/arrow 4.png" class="icon" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row two_options">

            <div class="checkbox_description">
                <p class="checkbox_text">SIM</p>
                <input type="radio" name="radio_p_filho1" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text">NÃO</p>
                <input type="radio" name="radio_p_filho1" />
            </div>

        </div>
        <div class="textarea_row">
            <div style="width: 100%;">
                <p class="checkbox_text">QUANTOS?</p>
                <div class="did-floating-label-content textarea">
                    <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
                </div>
            </div>
        </div>

    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">QUE HORA INICIARAM AS CONTRAÇÕES?</p>
        <label class="custom_checkbox">
            <div class="checkbox_description">
                <input type="time" name="tempo_contracoes" />
            </div>
        </label>
</div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">DURAÇÃO DAS CONTRAÇÕES</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">INTERVALO DAS CONTRAÇÕES</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRESSÃO NA REGIÃO DO QUADRIL OU VONTADE DE EVACUAR</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> SIM </p>
                <input type="radio" name="radio_pre_natal1" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text"> NÃO </p>
                <input type="radio" name="radio_pre_natal1" />
            </div>

        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">JÁ HOUVE RUPTURA DA BOLSA?</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> SIM </p>
                <input type="radio" name="radio_pre_natal2" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text"> NÃO </p>
                <input type="radio" name="radio_pre_natal2" />
            </div>

        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">FEITO INSPEÇÃO VISUAL?</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> SIM </p>
                <input type="radio" name="radio_pre_natal3" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text"> NÃO </p>
                <input type="radio" name="radio_pre_natal3" />
            </div>

        </label>
    </div>

</body>

</html>

<script>
    var acc = document.getElementsByClassName("sub_accordion_gest");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");

            var painel1 = this.nextElementSibling;
            var icon = painel1.querySelector('.icon'); // Substitua 'sua-classe-da-imagem' pela classe da sua imagem
            if (painel1.style.display === "flex") {
                painel1.style.display = "none";
            } else {
                painel1.style.display = "flex";

            }
        });
    }
</script>