<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0 auto;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container_cab {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            height: 35px;
            background-color: #33338D;
            padding: 5%;

        }

        .menu_button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .page_title {
            width: 1fr;
            font-weight: 600;
            font-size: 25px;
            color: white;
            text-align: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div class="container_cab">
        <a class="cab menu_button" href="#">
            <img src="./images/Vector.png" width="35" height="35" alt="">
        </a>
        <p class="cab page_title">Ocorrências<!-- substituir por <%  %> --></p>
        <a class="cab logo_medicina" href="#">
            <img src="./images/logo_medicina.png" width="40" height="40" alt="">
        </a>
    </div>
</body>

</html>