<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/decisao_transporte.css" />
    <title>Document</title>
</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="container_decisao_transporte">

        <div class="botao_situacao">
            <button class="emotes_container" id="cont_critico"><img src="./images/disappointed.png" /></button>
            <p class="estado" id="critico">CRÍTICO</p>
        </div>

        <div class="botao_situacao">
            <button class="emotes_container" id="cont_instavel"><img src="./images/boring.png" /></button>
            <p class="estado" id="instavel">INSTÁVEL</p>
        </div>

        <div class="botao_situacao">
            <button class="emotes_container" id="cont_pi"><img src="./images/neutral.png" /></button>
            <p class="estado" id="potencialmente_instavel">POTENCIALMENTE INSTÁVEL</p>
        </div>

        <div class="botao_situacao">
            <button class="emotes_container" id="cont_estavel"><img src="./images/happy.png"/></button>
            <p class="estado" id="estavel">ESTÁVEL</p>
        </div>
    </div>
</body>

</html>