<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/decisao_transporte.css" />
    <title>Document</title>
</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="container_decisao_transporte">

        <div class="botao_titulo">
            <div class="botao_situacao">
                <input class="cont_critico emotes_container" type="radio" name="radio_dt"/><img class="icon_emote"
                    src="./images/disappointed.png"/>
            </div>
            <p class="estado" id="critico">CRÍTICO</p>
        </div>


        <div class="botao_titulo">
            <div class="botao_situacao">
                <input class="cont_instavel emotes_container" type="radio" name="radio_dt"/><img class="icon_emote"
                    src="./images/boring.png"/>
            </div>
            <p class="estado" id="instavel">INSTÁVEL</p>
        </div>


        <div class="botao_titulo">
            <div class="botao_situacao">
                <input class="cont_pi emotes_container" type="radio" name="radio_dt"/><img class="icon_emote"
                    src="./images/neutral.png"/>
            </div>
            <p class="estado" id="potencialmente_instavel">POTENCIALMENTE INSTÁVEL</p>
        </div>


        <div class="botao_titulo">
            <div class="botao_situacao">
                <input class="cont_estavel emotes_container" type="radio" name="radio_dt"/><img class="icon_emote"
                    src="./images/happy.png"/>
            </div>
            <p class="estado" id="estavel">ESTÁVEL</p>
        </div>
    </div>
</body>

</html>