<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
    .navbar-primary {
        background-color: #33338D;
    }	
</style>
</head>

<body>
    <!-- container para botao de home -->
    <div class="container justify-content-center">
        <nav class="navbar navbar-primary fixed-bottom justify-content-center">
            <a style="margin: 0px;" class="navbar-brand" href="/ocorrencia"><img src="/images/Home_icone.png" width="35" height="30" alt=""></a>
        </nav>
    </div>
</body>
<script>
    function deleteLocal() {
                    localStorage.removeItem('radioState');
                    localStorage.removeItem('radiovteState');
                    localStorage.removeItem('checkboxpeState');
                    localStorage.removeItem('annsvState');
                    localStorage.removeItem('perfsvState');
                    localStorage.removeItem('checkboxacState');
                    localStorage.removeItem('radiopesState');
                    localStorage.removeItem('radiopes2State');
                    localStorage.removeItem('radiopes3State');
                    localStorage.removeItem('radiopes4State');
                    localStorage.removeItem('radioStateglasgow');
                    localStorage.removeItem('dctState');
                    localStorage.removeItem('fcState');
                    localStorage.removeItem('kedradioStfftate');
                    localStorage.removeItem('colarradioStfftate');
                    localStorage.removeItem('radiotff');
                    localStorage.removeItem('aov');
                    localStorage.removeItem('radiopbs');
                    localStorage.removeItem('radiomed');
                    localStorage.removeItem('alergiaradio');
                    localStorage.removeItem('ingerirradio');
                    localStorage.removeItem('cod');
                    localStorage.removeItem('checkboxSESState');
                    localStorage.removeItem('radioSESState');
                    localStorage.removeItem('radioSES2State');
                    localStorage.removeItem('radioSES3State');
                    localStorage.removeItem('radioSES4State');
                    localStorage.removeItem('radioSES5State');
                    localStorage.removeItem('ferimentos');
                    localStorage.removeItem('radio_pre_natalState');
                    localStorage.removeItem('radio_pre_natal1State');
                    localStorage.removeItem('radio_pre_natal2State');
                    localStorage.removeItem('radio_pre_natal3State');
                    localStorage.removeItem('radio_pre_natal4State');
                    localStorage.removeItem('radio_bebe');
                    localStorage.removeItem('radio_parto');
                    localStorage.removeItem('radio_p_filho1State');
                    localStorage.removeItem('tempo_med');
                    localStorage.removeItem('tempo_ingestao');
                    localStorage.removeItem('radioState_ataduras');
                    localStorage.removeItem('radioState_KITS');
                    localStorage.removeItem('radioState_talas');
                    for (let i = 0; i < 42; i++) {
                        localStorage.removeItem('textareafinal' + i);
                    }
                    for (let i = 0; i < 24; i++) {
                        localStorage.removeItem('inputtext' + i);
                    }
                }
</script>
</html>