<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/materiais_utilizados_descartaveis.css" />
    <title>Document</title>
</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="container_MUD">
        <div class="coluna1">

            <div class="checkbox_row">
                <p class="checkbox_text">ATADURAS</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">8</p>
                        <input type="radio" name="radio_ataduras" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">12</p>
                        <input type="radio" name="radio_ataduras" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">20</p>
                        <input type="radio" name="radio_ataduras" />
                    </div>

                </label>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">CARATER TP. ÓCULOS</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text">KITS</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">H</p>
                        <input type="radio" name="radio_KITS" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">P</p>
                        <input type="radio" name="radio_KITS" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">Q</p>
                        <input type="radio" name="radio_KITS" />
                    </div>

                </label>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">LUVAS DESC. (PARES)</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">MASCARA DESC.</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">MANTA ALUMINIZADA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">PAS DO DEA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">SONDA DE ASPIRAÇÃO</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">SORO FISIOLÓGICO</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text">TALAS</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">H</p>
                        <input type="radio" name="radio_talas" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">P</p>
                        <input type="radio" name="radio_talas" />
                    </div>

                </label>
            </div>

        </div>
        <div class="coluna2">

            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>

        </div>

        <div class="coluna3">
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
        </div>
    </div>
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">OUTRO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>
    <!-- Criação de um campo de texto com rótulo flutuante -->
</body>
<script>

    // pega todos os botoes
    const radioMUD = document.querySelectorAll('input[name="radio_ataduras"]');
    const radioMUD2 = document.querySelectorAll('input[name="radio_KITS"]');
    const radioMUD3 = document.querySelectorAll('input[name="radio_talas"]');
    // Restaura state
    const savedRadioMUDState = localStorage.getItem('radioMUDState');
    const savedRadioMUD2State = localStorage.getItem('radioMUD2State');
    const savedRadioMUD3State = localStorage.getItem('radioMUD3State');
    // restaura estado dos botoes
    if (savedRadioMUDState) {
        savedRadioMUDState.split('').forEach((state, index) => {
            radioMUD[index].checked = state === '1';
        });
    }

    if (savedRadioMUD2State) {
        savedRadioMUD2State.split('').forEach((state, index) => {
            radioMUD2[index].checked = state === '1';
        });
    }

    if (savedRadioMUD3State) {
        savedRadioMUD3State.split('').forEach((state, index) => {
            radioMUD3[index].checked = state === '1';
        });
    }


    // evento de mudança de estado
    radioMUD.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            // cria um codigo binario para cada botao
            let binaryMUD = '';
            radioMUD.forEach((r, i) => {
                binaryMUD += r.checked && i === index ? '1' : '0';
            });

            // Save state
            localStorage.setItem('radioState_ataduras', binaryMUD);


            console.log(binaryMUD);
        });
    });


    radioMUD2.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            // cria um codigo binario para cada botao
            let binaryMUD2 = '';
            radioMUD2.forEach((r, i) => {
                binaryMUD2 += r.checked && i === index ? '1' : '0';
            });

            // Save state
            localStorage.setItem('radioState_KITS', binaryMUD2);


            console.log(binaryMUD2);
        });
    });

    radioMUD3.forEach((radio, index) => {
        radio.addEventListener('change', () => {
            // cria um codigo binario para cada botao
            let binaryMUD3 = '';
            radioMUD3.forEach((r, i) => {
                binaryMUD3 += r.checked && i === index ? '1' : '0';
            });

            // Save state
            localStorage.setItem('radioState_talas', binaryMUD3);


            console.log(binaryMUD3);
        });
    });

</script>

</html>