<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/materiais_deixados_hospital.css" />
    <title>Document</title>
</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="container_DH">
        <div class="coluna1">

            <div class="checkbox_row">
                <p class="checkbox_text2">BASE DO ESTABILIZADOR</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text">COLAR</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">PP</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">P</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">M</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">G</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>

                </label>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">COXINS ESTABILIZA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text">KED</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">ADULT.</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">INFA.</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>

                </label>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">MACA RÍGIDA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text">T.T.F</p>
                <label class="custom_checkbox2">

                    <div class="checkbox_description2">
                        <p class="checkbox_text">ADULT.</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>
                    <div class="checkbox_description2">
                        <p class="checkbox_text">INFA.</p>
                        <input type="radio" name="radio_perfusao" />
                    </div>

                </label>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">TIRANTE DE CABEÇA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">CÂNULA</p>
            </div>

            <div class="checkbox_row">
                <p class="checkbox_text2">SORO FISIOLÓGICO</p>
            </div>

        </div>
        <div class="coluna2">

            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>
            <p class="checkbox_text_QTD">QTD:</p>

        </div>

        <div class="coluna3">
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
            <div class="did-floating-label-content">
                <input class="input_QTD" type="text" placeholder="">
            </div>
        </div>
    </div>
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">OUTRO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>
    <!-- Criação de um campo de texto com rótulo flutuante -->
</body>

</html>