<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/sub_accordion.css" />
    <title>Document</title>
</head>


<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="checkbox_row">
        <p class="checkbox_text">ABDOMEM SENSÍVEL OU RÍGIDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AFUNDAMENTO DE CRÂNIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AGITAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AMNÉSIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ANGINA DE PEITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">APINÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRADICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRANDIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRONCO-ASPIRANDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CEFALÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">CIANOSE</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">LÁBIOS</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">EXTREMIDADE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CONVULSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DEFORMIDADE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESCEREBRAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESMAIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESVIO DE TRAQUÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DISPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DOR LOCAL</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">EDEMA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">GENERALIZADO</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">LOCALIZADO</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">EFISEMA SUBCUTÂNEO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÊSTASE DE JUGULAR</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">FACE PÁLIDA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">HEMORRAGIA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">INTERNA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">EXTERNA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_ss" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPERTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPOTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NÁUSEAS E VOMITOS</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NASORAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÓBITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">O.V.A.C.E</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">PARADA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">CARDIACA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">RESPIRATÓRIA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_ss" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRIAPRISMO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRURIDO NA PELE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">PUPILAS</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">ANISCORIA</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">ISOCORIA</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">MIDRIASE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">MIOSE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">REAGENTE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">NÃO REAGENTE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_ss" />
            </label>
        </div>

    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SEDE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE BATTLE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE GUAXINIM</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SUDORESE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TAQUIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>


    <div class="checkbox_row">
        <p class="checkbox_text">TAQUICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TONTURA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ss" />
        </label>
    </div>

    <!-- Criação de um campo de texto com rótulo flutuante -->
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">OUTRO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>
    <script>

        var acc = document.getElementsByClassName("sub_accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");

                var painel1 = this.nextElementSibling;
                if (painel1.style.display === "flex") {
                    painel1.style.display = "none";
                } else {
                    painel1.style.display = "flex";
                }
            });
        }

        // pega todos os botoes
const checkboxss = document.querySelectorAll('input[name="checkbox_ss"]');
// Restaura state
const savedcheckboxssState = localStorage.getItem('checkboxssState');
if (savedcheckboxssState) {
    savedcheckboxssState.split('').forEach((state, index) => {
        checkboxss[index].checked = state === '1';
    });
}

// evento de mudança de estado
checkboxss.forEach((checkbox, index) => {
    checkbox.addEventListener('change', () => {
        // cria um codigo binario para cada botao
        let binaryss = '';
        checkboxss.forEach((r, i) => {
            binaryss += r.checked && i === index ? '1' : '0';
        });

        // Save state
        localStorage.setItem('checkboxssState', binaryss);

        console.log(binaryss);
    });
});

// pega todos os botoes
const radiosss = document.querySelectorAll('input[name="radio_ss"]');
// Restaura state
const savedRadiossState = localStorage.getItem('radiossState');
if (savedRadiossState) {
    savedRadiossState.split('').forEach((state, index) => {
        radiosss[index].checked = state === '1';
    });
}

// evento de mudança de estado
radiosss.forEach((radio, index) => {
    radio.addEventListener('change', () => {
        // cria um codigo binario para cada botao
        let binaryss = '';
        radiosss.forEach((r, i) => {
            binaryss += r.checked && i === index ? '1' : '0';
        });

        // Save state
        localStorage.setItem('radiossState', binaryss);

        console.log(binaryss);
    });
});



    </script>
</body>

</html>