<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <title>Document</title>

</head>
<body>
    <!-- Criação de uma lista de checkboxes -->

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">PRESSÃO ARTERIAL: mmHg</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>


    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">RESPIRAÇÃO: M.R.M</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">SATURAÇÃO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">TEMPERATURA: °C</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PERFUSÃO</p>
        <label class="custom_checkbox">

            <div class="checkbox_description">
                <p class="checkbox_text"> &gt;2 SEGS</p>
                <input type="radio" name="radio_perfusao" />
            </div>

            <div class="checkbox_description">
                <p class="checkbox_text">&lt;2 SEG</p>
                <input type="radio" name="radio_perfusao" />
            </div>

        </label>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">PULSO: B.C.P.M</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">HTG</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

    <div class="checkbox_row two_options">

        <div class="checkbox_description">
            <p class="checkbox_text">NORMAL</p>
            <input type="radio" name="radio_sinais_vitais" />
        </div>

        <div class="checkbox_description">
            <p class="checkbox_text">ANORMAL</p>
            <input type="radio" name="radio_sinais_vitais" />
        </div>

    </div>

    <!-- Criação de um campo de texto com rótulo flutuante -->


</body>

</html>