<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <title>Document</title>
    <style>
        .checkbox_row {
            display: flex;
            height: 50px;
            flex-direction: row;
            justify-content: space-between;
            background-color: #E1E1E1;
            padding: 10px;
            font-weight: 600;

        }

        .textarea_row {
            display: flex;
            width: 100%;
            height: 8rem;
            flex-direction: row;
            justify-content: space-between;
            background-color: #E1E1E1;
            padding: 10px;
            font-weight: 600;
        }

        .checkbox_text {
            display: flex;
            align-items: center;
            margin: 0;
        }
    </style>


</head>

<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="checkbox_row">
        <p class="checkbox_text">ABDOMEM SENSÍVEL OU RÍGIDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AFUNDAMENTO DE CRÂNIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AGITAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AMNÉSIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ANGINA DE PEITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">APINÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRADICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRANDIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRONCO-ASPIRANDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CEFALÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CIANOSE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CONVULSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DEFORMIDADE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESCEREBRAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESMAIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESVIO DE TRAQUÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DISPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DOR LOCAL</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">EDEMA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">EFISEMA SUBCUTÂNEO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÊSTASE DE JUGULAR</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">FACE PÁLIDA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HEMORRAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPERTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPOTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NÁUSEAS E VOMITOS</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NASORAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÓBITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">O.V.A.C.E</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PARADA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRIAPRISMO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRURIDO NA PELE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PUPILAS</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SEDE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE BATTLE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE GUAXINIM</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SUDORESE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TAQUIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>


    <div class="checkbox_row">
        <p class="checkbox_text">TAQUICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TONTURA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox" />
        </label>
    </div>

    <!-- Criação de um campo de texto com rótulo flutuante -->
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">OUTRO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>

</body>

</html>