<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>
<body>
    <%- include('./partials/cabecalho.ejs') %>

    <div class="container-fluid text-center">
        <h1 style="font-family: Verdana; font-size: x-large; margin-top: 45vh;" class=" text-black col-lg-12">Acesso Negado</h1>
        <p style="font-family: Verdana; font-size: large;" class=" text-black col-lg-12">Você não tem permissão para acessar esta página.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>