<!-- FILEPATH: c:\Users\guilherme_cancio\Documents\GitHub\Form-NOAR\views\index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/margin.css" />
    <title><%- title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        /* Add responsive styles */


        .button_login {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #A3ADE0;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .button:hover {
            text-align: center;
            border: none;
            border-radius: 10px;
            color: black;
            background: #8e97c5;
            font-size: 15px;
            padding: 10px 20px 10px 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 700;
            word-wrap: break-word;
        }

        .input {
            border: solid #dddddd 3px;
            height: 15px;
            border-radius: 5px;
        }

        .container_login {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            width: 18rem;
            padding: 20px;
            background-color: #F1F1F1;
            border-radius: 5px;
        }
    </style>
</head>

<body class="body">
    <%- include('./partials/cabecalho.ejs') %>

        <div>
            <img src="./images/logo_pequena.png" />
        </div>
        <form action="/login" method="post" style="text-align: center; display: flex; justify-content: center;">
            <div class="container_login">

                <div class="Title">
                    <p class="title" style="font-weight: 700; font-size: 40px; color: black;">Login</p>
                </div>
                <div class="did-floating-label-content">
                    <input class="did-floating-input" name="input" id="input" type="text" required placeholder=" ">
                    <label class="did-floating-label">Código de bombeiro</label>
                </div>
                <div class="did-floating-label-content">
                    <input class="did-floating-input" name="Senha" id="Senha" type="password" required placeholder=" ">
                    <label class="did-floating-label">Senha</label>
                </div>
                <button class="button_login" type="submit">Entrar</button>
            </div>
        </form>
        <% if (typeof errorMessage !=='undefined' ) { %>
            <p class="wrongpass">
                <%= errorMessage %>
            </p>
            <% } %>

                <%- include('./partials/footer.ejs') %>
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>