<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css"/>
    <link rel="stylesheet" type="text/css" href="./stylesheets/margin.css" />
    <title>Document</title>
</head>
<style>
    /* Add responsive styles */

    .button {
        text-align: center;
        border: none;
        border-radius: 10px;
        color: black;
        background: #A3ADE0;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .button:hover {
        text-align: center;
        border: none;
        border-radius: 10px;
        color: black;
        background: #8e97c5;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        word-wrap: break-word;
    }

    .input_fone {
        background-color: #E1E1E1;
        border: solid #dddddd 3px;
        height: 2rem;
        width: 2rem;
        border-radius: 5px;
    }

    .linha_input-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .input_idade {
        width: 3.5rem;
        text-align: center;
    }

    .input_nome {
        width: 22rem;
    }

    .input_numero {
        width: 15rem;
    }

    .container_vitima {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 25rem;
        height: 20rem;
        padding: 20px;
        background-color: #F1F1F1;
        border-radius: 5px;
    }

    .campo {
        display: flex;
        border: none;
        align-items: center;
        gap: 150px;
        background-color: #E1E1E1;
        font-size: 18px;
        width: 28rem;
        padding: 10px 15px 10px 15px;
        color: #999;
        margin: 0;
        text-align: left;
    }

    .botao {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;
        background-color: #E1E1E1;
        border: none;
    }

    .ocorrencia {
        display: flex;
        border: none;
        align-items: center;
        gap: 150px;
        background-color: #E1E1E1;
        font-size: 18px;
        width: 28rem;
        padding: 10px 15px 10px 15px;
        color: #999;
        margin: 0;
        text-align: left;
    }

    label {
        color: #999;
        font-size: 15px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        padding: 5px;
        left: 10px;
        top: 5px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
</style>

<body class="body">
    <%- include('./partials/cabecalho.ejs') %>
        <div>
            <img src="./images/logo_pequena.png" />
        </div>

        <form action="" method="post" style="text-align: center; display: flex; justify-content: center;">
            <div class="container_vitima">

                <div class="did-floating-label-content">
                    <input class="did-floating-input input_nome" type="text" placeholder=" ">
                    <label class="did-floating-label">Nome</label>
                </div>

                <div class="linha_input-group">

                    <div class="did-floating-label-content">
                        <input class="did-floating-input input_idade" type="text" placeholder=" ">
                        <label class="did-floating-label">Idade</label>
                    </div>

                    <div class="input-group">
                        <input type="text" aria-required="true" class="input_fone">
                        <label class="username">Numero</label>
                    </div>
                </div>

            </div>
        </form>
        <%- include('./partials/footer.ejs') %>
</body>

</html>