  input[type="checkbox"] {
      -webkit-appearance: none;
      appearance: none;
      background-color: rgba(0, 0, 0, 0);
      margin: 0;
  }

  input[type="checkbox"] {
      appearance: none;
      background-color: rgba(0, 0, 0, 0);
      margin: 0;
      font: inherit;
      color: currentColor;
      width: 2em;
      height: 2em;
      border: solid #333333 3px;
      border-radius: 5px;
      transform: translateY(-0.075em);
  }


  input[type="checkbox"] {
      /* ...existing styles */
      display: grid;
      place-content: center;
  }

  input[type="checkbox"]::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="checkbox"]:checked::before {
      background-color: #333333;
      transform: scale(2);
  }