<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>

.sub_accordion_adp {

display: flex !important;
width: 100% !important;
border: none !important;
align-items: center !important;
justify-content: space-between !important;
background-color: #E1E1E1 !important;
padding: 10px !important;
color: #333333 !important;
text-decoration: none !important;
margin: 0 !important;
font-weight: 600 !important;

}

.active,
.sub_accordion_adp:hover {

background-color: #ccc;
transition: 0.4s !important;

}

.painel1 {

display: flex;
flex-direction: column !important;
gap: 10px;
padding: 0 15px 20px 22px;
background-color: #F1F1F1;
display: none;
overflow: hidden;
transition: 0.4s !important;

}
</style>
<body>

    <div class="checkbox_row">
        <p class="checkbox_text">DISTÚRBIO DE COMPORTAMENTO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ENCONTRADO DE CAPACETE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ENCONTRADO DE CINTO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PARA-BRISA AVARIADO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CAMINHANDO NA CENA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PAINEL AVARIADO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">VOLANTE TORCIDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ac" />
        </label>
    </div>
    <input type="hidden" name="checkbox_ac1" />
    <input type="hidden" name="checkbox_ac2" value="<%= ac %>"/>
<script>
    // pega todos os botoes
const checkboxac = document.querySelectorAll('input[name="checkbox_ac"]');
// Restaura state
const ac1 = document.querySelector('input[name="checkbox_ac2"]').value;
if (ac1) {
    ac1.split('').forEach((state, index) => {
        checkboxac[index].checked = state === '1';
    });
}

const savedcheckboxacState = localStorage.getItem('checkboxacState');
if (savedcheckboxacState) {
    savedcheckboxacState.split('').forEach((state, index) => {
        checkboxac[index].checked = state === '1';
    });
}

// evento de mudança de estado
checkboxac.forEach((checkbox, index) => {
    checkbox.addEventListener('change', () => {
        // cria um codigo binario para cada botao
        let binaryac = '';
        checkboxac.forEach((r, i) => {
            binaryac += r.checked ? '1' : '0';
        });
        document.querySelector('input[name="checkbox_ac1"]').value = binaryac;
        // Save state
        localStorage.setItem('checkboxacState', binaryac);

        console.log(binaryac);
    });
});

</script>
</body>

</html>