<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <title>Document</title>

</head>
<body>
    <!-- Criação de uma lista de checkboxes -->

    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">Objetos recolhidos</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>
    <!-- Criação de um campo de texto com rótulo flutuante -->
</body>
</html>