<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox1.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/custom_checkbox2.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/floating_label.css" />
    <link rel="stylesheet" type="text/css" href="./stylesheets/sub_accordion.css" />
    <title>Document</title>
</head>


<body>
    <!-- Criação de uma lista de checkboxes -->
    <div class="checkbox_row">
        <p class="checkbox_text">ABDOMEM SENSÍVEL OU RÍGIDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AFUNDAMENTO DE CRÂNIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AGITAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">AMNÉSIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ANGINA DE PEITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">APINÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRADICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRANDIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">BRONCO-ASPIRANDO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CEFALÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">CIANOSE</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">LÁBIOS</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_cianose" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">EXTREMIDADE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_cianose" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">CONVULSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DEFORMIDADE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESCEREBRAÇÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESMAIO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DESVIO DE TRAQUÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DISPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">DOR LOCAL</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">EDEMA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">GENERALIZADO</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_edema" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">LOCALIZADO</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_edema" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">EFISEMA SUBCUTÂNEO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÊSTASE DE JUGULAR</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">FACE PÁLIDA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">HEMORRAGIA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">INTERNA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="radio_hemorragia" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">EXTERNA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="radio_hemorragia" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPERTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">HIPOTENSÃO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NÁUSEAS E VOMITOS</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">NASORAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">ÓBITO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">OTORRAGIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">O.V.A.C.E</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">PARADA</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">CARDIACA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_parada" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">RESPIRATÓRIA</p>
            <label class="custom_checkbox">
                <input type="checkbox" name="checkbox_parada" />
            </label>
        </div>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRIAPRISMO</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">PRURIDO NA PELE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <button type="button" class="sub_accordion">
        <p class="checkbox_text">PUPILAS</p>
        <img src="./images/arrow 4.png" style="width: 32px;  position: relative;" />
    </button>
    <div class="painel">

        <div class="checkbox_row">
            <p class="checkbox_text">ANISCORIA</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">ISOCORIA</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">MIDRIASE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">MIOSE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">REAGENTE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

        <div class="checkbox_row">
            <p class="checkbox_text">NÃO REAGENTE</p>
            <label class="custom_checkbox">
                <input type="radio" name="radio_pupila" />
            </label>
        </div>

    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SEDE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE BATTLE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SINAL DE GUAXINIM</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">SUDORESE</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TAQUIPNÉIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>


    <div class="checkbox_row">
        <p class="checkbox_text">TAQUICARDIA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <div class="checkbox_row">
        <p class="checkbox_text">TONTURA</p>
        <label class="custom_checkbox">
            <input type="checkbox" name="checkbox_ses" />
        </label>
    </div>

    <!-- Criação de um campo de texto com rótulo flutuante -->
    <div class="textarea_row">
        <div style="width: 100%;">
            <p class="checkbox_text">OUTRO</p>
            <div class="did-floating-label-content textarea">
                <textarea class="did-floating-input row_textarea" placeholder="Insira o texto"></textarea>
            </div>
        </div>
    </div>
    <input type="hidden" name="checkboxses" />
    <input type="hidden" name="radiopupila" />
    <input type="hidden" name="radiocianose" />
    <input type="hidden" name="radioedema" />
    <input type="hidden" name="radiohemorragia" />
    <input type="hidden" name="checkboxparada" />
    <input type="hidden" name="acov" value="<%= sinal_sintomav %>">


    <script>

        var acc = document.getElementsByClassName("sub_accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");

                var painel1 = this.nextElementSibling;
                if (painel1.style.display === "flex") {
                    painel1.style.display = "none";
                } else {
                    painel1.style.display = "flex";
                }
            });
        }

        const CSESS = document.querySelector('input[name="CSESS"]');
                // restaura estado dos botoes
                if (CSESS) {
                    CSESS.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS = document.querySelector('input[name="SESS"]');
                // restaura estado dos botoes
                if (SESS) {
                    SESS.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS1 = document.querySelector('input[name="SESS1"]');
                // restaura estado dos botoes
                if (SESS1) {
                    SESS1.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS2 = document.querySelector('input[name="SESS2"]');
                // restaura estado dos botoes
                if (SESS2) {
                    SESS2.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS3 = document.querySelector('input[name="SESS3"]');
                // restaura estado dos botoes
                if (SESS3) {
                    SESS3.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS4 = document.querySelector('input[name="SESS4"]');
                // restaura estado dos botoes
                if (SESS4) {
                    SESS4.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                const SESS5 = document.querySelector('input[name="SESS5"]');
                // restaura estado dos botoes
                if (SESS5) {
                    SESS5.split('').forEach((state, index) => {
                        radioaov[index].checked = state === '1';
                    });
                }
                

        // pega todos os botoes
        const checkboxSES = document.querySelectorAll('input[name="checkbox_ses"]');
        const radioSES = document.querySelectorAll('input[name="radio_pupila"]');
        const radioSES2 = document.querySelectorAll('input[name="radio_cianose"]');
        const radioSES3 = document.querySelectorAll('input[name="radio_edema"]');
        const radioSES4 = document.querySelectorAll('input[name="radio_hemorragia"]');
        const radioSES5 = document.querySelectorAll('input[name="checkbox_parada"]');

        // Restaura state
        const savedcheckboxSESState = localStorage.getItem('checkboxSESState');
        const savedradioSESState = localStorage.getItem('radioSESState');
        const savedradioSES2State = localStorage.getItem('radioSES2State');
        const savedradioSES3State = localStorage.getItem('radioSES3State');
        const savedradioSES4State = localStorage.getItem('radioSES4State');
        const savedradioSES5State = localStorage.getItem('radioSES5State');

        if (savedcheckboxSESState) {
            savedcheckboxSESState.split('').forEach((state, index) => {
                checkboxSES[index].checked = state === '1';
            });
        }

        if (savedradioSESState) {
            savedradioSESState.split('').forEach((state, index) => {
                radioSES[index].checked = state === '1';
            });
        }

        if (savedradioSES2State) {
            savedradioSES2State.split('').forEach((state, index) => {
                radioSES2[index].checked = state === '1';
            });
        }

        if (savedradioSES3State) {
            savedradioSES3State.split('').forEach((state, index) => {
                radioSES3[index].checked = state === '1';
            });
        }

        if (savedradioSES4State) {
            savedradioSES4State.split('').forEach((state, index) => {
                radioSES4[index].checked = state === '1';
            });
        }

        if (savedradioSES5State) {
            savedradioSES5State.split('').forEach((state, index) => {
                radioSES5[index].checked = state === '1';
            });
        }

        // evento de mudança de estado
        checkboxSES.forEach((checkbox, index) => {
            checkbox.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES = '';
                checkboxSES.forEach((r, i) => {
                    binarySES += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="checkboxses"]').value = binarySES;
                // Save state
                localStorage.setItem('checkboxSESState', binarySES);

                console.log(binarySES);
            });
        });
        
        radioSES.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES2 = '';
                radioSES.forEach((r, i) => {
                    binarySES2 += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="radiopupila"]').value = binarySES2;
                // Save state
                localStorage.setItem('radioPupilaState', binarySES2);

                console.log(binarySES2);
            });
        });

        radioSES2.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES3 = '';
                radioSES2.forEach((r, i) => {
                    binarySES3 += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="radiocianose"]').value = binarySES3;
                // Save state
                localStorage.setItem('radioCianoseState', binarySES3);

                console.log(binarySES3);
            });
        });

        radioSES3.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES4 = '';
                radioSES3.forEach((r, i) => {
                    binarySES4 += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="radioedema"]').value = binarySES4;
                // Save state
                localStorage.setItem('radioEdemaState', binarySES4);

                console.log(binarySES4);
            });
        });

        radioSES4.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES5 = '';
                radioSES4.forEach((r, i) => {
                    binarySES5 += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="radiohemorragia"]').value = binarySES5;
                // Save state
                localStorage.setItem('radioHemorragiaState', binarySES5);

                console.log(binarySES5);
            });
        });

        radioSES5.forEach((radio, index) => {
            radio.addEventListener('change', () => {
                // cria um codigo binario para cada botao
                let binarySES6 = '';
                radioSES5.forEach((r, i) => {
                    binarySES6 += r.checked ? '1' : '0';
                });
                document.querySelector('input[name="checkboxparada"]').value = binarySES6;
                // Save state
                localStorage.setItem('radioParadaState', binarySES6);

                console.log(binarySES6);
            });
        });

        // // pega todos os botoes
        // const radiosss = document.querySelectorAll('input[name="checkbox_ses"]');
        // // Restaura state
        // const savedRadiossState = localStorage.getItem('radiossState');
        // if (savedRadiossState) {
        //     savedRadiossState.split('').forEach((state, index) => {
        //         radiosss[index].checked = state === '1';
        //     });
        // }

        // // evento de mudança de estado
        // radiosss.forEach((radio, index) => {
        //     radio.addEventListener('change', () => {
        //         // cria um codigo binario para cada botao
        //         let binaryss = '';
        //         radiosss.forEach((r, i) => {
        //             binaryss += r.checked && i === index ? '1' : '0';
        //         });

        //         // Save state
        //         localStorage.setItem('radiossState', binaryss);

        //         console.log(binaryss);
        //     });
        // });



    </script>
</body>

</html>